<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\RequireJs\Model\FileManager">
        <plugin name="optimize-requirejs-build" type="MageOS\RequireJsOptimizer\Plugin\Model\FileManager" />
    </type>
    <type name="Magento\Framework\RequireJs\Config">
        <plugin name="use-optimized-requirejs-build" type="MageOS\RequireJsOptimizer\Plugin\ChangeRequireJsConfig" />
    </type>
    <type name="MageOS\RequireJsOptimizer\Helper\Config">
        <arguments>
            <argument name="allowModuleNames" xsi:type="array">
                <item name="cms" xsi:type="string">cms</item>
                <item name="catalog" xsi:type="string">catalog</item>
            </argument>
        </arguments>
    </type>
</config>
